In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import sklearn as sk
import os
import matplotlib.pyplot as plt

def plot_graphs(history, metric):
  plt.plot(history.history[metric])
  plt.plot(history.history['val_'+metric], '')
  plt.xlabel("Epochs")
  plt.ylabel(metric)
  plt.legend([metric, 'val_'+metric])
  plt.show()

In [2]:
dataset=pd.read_csv("NER-Dataset-Train.txt")

In [3]:
dataset

      @LewisDixon  O Unnamed: 2
0           Trust  O        NaN
1              me  O        NaN
2               !  O        NaN
3              im  O        NaN
4           gonna  O        NaN
...           ... ..        ...
15057        tell  O        NaN
15058         TMZ  B        NaN
15059        ....  O        NaN
15060   http://bi  O        NaN
15061         ...  O        NaN

[15062 rows x 3 columns]

In [5]:
y_train=dataset["O"]

In [7]:
x_train=dataset.drop(["O"],axis=1)

In [8]:
y_train.head(20)

0       O
1       O
2       O
3       O
4       O
5       O
6       O
7       O
8       O
9       O
10      O
11      O
12      O
13    NaN
14      O
15      O
16      O
17      O
18      O
19    NaN
Name: O, dtype: object